<h1>I am committed to fixing my commitment issues.</h1>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>
<center>
<form action="/sessions" method="POST">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Login!">
</form>
</center>