<div class="tina">
  <img src="tina.gif" id="1" >
  <img src="tina.gif" id="2">
  <img src="tina.gif" id="3">
  <img src="tina.gif">
  <img src="tina.gif">
  <img src="tina.gif">
  <img src="tina.gif">
  <img src="tina.gif" id="8">
  <img src="tina.gif">
  <img src="tina.gif">
  <img src="tina.gif">
  <img src="tina.gif">
  <img src="tina.gif">
  <img src="tina.gif">
  <img src="tina.gif">
  <img src="tina.gif"> 
</div>