<% if current_user %>

  <h2>Welcome <%= current_user.username %>!</h2>

  Here are all your reminders:<br>
  <% @user.reminders.each do |reminder| %>
    <%= reminder.body %><br>
  <% end %> 

 <a href="/users/<%= @user.id %>/edit">User Settings</a>

<% end %>

