  <h2>Welcome <%= current_user.username %>!</h2>
  <div class="userprofile">
    <a id="usersetting" href="/users/<%= @user.id %>/edit" >User Settings</a><br>
  </div>

  <div id="buttons">
    <a href="/reminders" class="btn btn-success" id="ready">I am ready for commitment.</a>
    <a href="/reminders" class="btn btn-success">I need a break.</a>
  </div>