  <% if current_user %>

  <h2>Welcome <%= current_user.username %>!</h2>
  <div class="userprofile">
    <a id="usersetting" href="/users/<%= @user.id %>/edit" >User Settings</a><br>
  </div>
  <div>
    <button name="button" id="start-button">Start my reminders!</button><br>
     <button name="button" id="stop-button">Stop my reminders!</button>
  </div>

  <% end %>