<div id="user">
<% if current_user %>
<a href="/users/<%= current_user.id %> ">Profile Page</a><br>
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Logout">
  </form>
<% else %><br><br>
  <a href="/sessions/new" class="btn btn-default btn-lg">Login</a>
  <a href="/users/new"  class="btn btn-default btn-lg">Register</a>
<% end %>
</div>