<% if current_user %>
<a href="/users/<%= current_user.id %>">My Stuff</a><br>
<a href="/">Home Page</a><br>
<form action="/sessions" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Logout">
</form>
<% else %>
<a href="/sessions/login">Login</a>
<a href="/users/new">Signup</a>
<% end %>